
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div>
    <img  src="favicon.ico" class="btn" style="width: 4rem;"/>
    <button class="btn btn-dark ms-2 me-3" routerLink="home">Home</button>
    <button class="btn btn-dark" routerLink="forms">Registro</button>
    <button class="btn btn-dark" routerLink="forms2">Formulari exemple template</button>
      <button class="navbar-toggler mt-2 ms-2 me-2" style="position:absolute; right: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>

</nav>
<div>
  <router-outlet></router-outlet>
</div>